@use "/src/sass/base/variables.scss" as *;

* {
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    font-family: Lato, sans-serif;
    background-color: $white;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    padding: 0 20px;
}

@media screen and (min-width: 1920px) {
    .container {
        padding: 0 351px;
    }
}
