@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.cart {
    padding: 30px 0 80px;
    overflow: hidden;
    &__wrapper {
        margin-top: 40px;
    }

    &__goods {
        position: relative;
    }

    &__good {
        position: relative;
        padding: 24px 0;
        display: flex;
        gap: 30px;
        &:nth-child(1)::before {
            content: "";
            position: absolute;
            width: 100vw;
            height: 2px;
            background-color: $black;
            opacity: 0.3;
            margin-right: -20px;
            top: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100vw;
            height: 2px;
            background-color: $black;
            opacity: 0.3;
            margin-right: -20px;
            bottom: 0;
        }

        &-img {
            @include flex-center;
            margin-top: 7px;
            width: 90px;
            height: 90px;
            background-color: $beige;
            border-radius: 100%;
            flex: 0 0 auto;
            img {
                width: 50px;
                height: 50px;
            }
        }

        &-info {
            color: $black;
            &-text {
                margin-top: 1px;
                font-size: 17px;
                font-weight: 400;
                line-height: 140%;
            }
        }

        &-wrapper {
            position: relative;
            width: 100%;
            flex: 1 1 0;
        }

        &-cross {
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0;
            top: 8px;
            cursor: pointer;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                background-color: $black;
                width: 100%;
                height: 2px;
                opacity: 0.3;
            }
            & span:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg) scale(1.15);
            }
            & span:nth-child(2) {
                transform: translate(-50%, -50%) rotate(-45deg) scale(1.15);
            }
        }
    }

    &__good-right {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-plus {
            transform: translateY(-2px);
        }

        &-sell {
            color: $black;
            display: block;
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
        }
    }

    &__order {
        background-color: $beige;
        border-radius: 25px;
        padding: 20px;
        margin-top: 50px;

        &-title {
            color: $black;
            text-align: center;
            line-height: 140%;
        }
        &-purchase {
            margin-top: 25px;
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 20px;
            li {
                color: $black;
            }
            &-left {
                font-size: 17px;
                font-weight: 400;
                line-height: 140%;
            }
            &-right {
                font-size: 17px;
                font-weight: 700;
                line-height: 130%;
            }
            & li:nth-child(2n) {
                text-align: right;
            }
        }

        &-btn {
            width: 100%;
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 768px) {
    .cart {
        padding: 40px 0 100px;
        &__wrapper {
            margin-top: 50px;
        }

        &__good {
            padding: 30px 0;
            align-items: center;
            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-img {
                margin-top: 0;
            }
            &-info {
                &-text {
                    margin-top: 3px;
                    font-size: 21px;
                }
            }
            &-right {
                gap: 85px;
                margin-top: 0;
                &-sell {
                    font-size: 21px;
                }
            }

            &-cross {
                position: relative;
                transform: translateY(-7px);
            }
        }
        &__order {
            margin-top: 60px;
            padding: 30px;
            width: 440px;
            height: fit-content;
            &-purchase {
                margin-top: 35px;
                &-left {
                    font-size: 21px;
                }
                &-right {
                    font-size: 21px;
                }
            }
            &-btn {
                margin-top: 50px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .cart {
        &__goods {
            padding-right: 20%;
        }

        &__good {
            &-info {
                &-text {
                    margin-top: 5px;
                }
            }
            &:nth-child(1)::before {
                width: 100%;
                margin-right: 0;
            }
            &::after {
                width: 100%;
                margin-right: 0;
            }

            &-right {
                gap: 172px;
            }

            &-cross {
                position: absolute;
                top: 55%;
                right: -29%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .cart {
        padding: 50px 0 150px;
        &__wrapper {
            margin-top: 30px;
            display: flex;
            gap: 60px;
        }
        &__goods {
            margin-top: 30px;
            flex: 1 1 0;
            padding: 0;
        }
        &__good {
            &-right {
                gap: 45px;
            }

            &-cross {
                position: static;
                transform: translateY(0);
            }
        }

        &__order {
            margin-top: 0;
            width: 386px;
            &-purchase {
                margin-top: 45px;
            }
            &-btn {
                margin-top: 60px;
            }
        }
    }
}
