@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.contacts {
    overflow: hidden;
    padding: 30px 0 80px;
    #contacts-map {
        width: 100vw;
        height: 70vh;
        margin-left: -20px;
    }

    .leaflet-control-attribution {
        display: none;
    }

    &__wrapper {
        margin-top: 40px;
    }

    &__address-wrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__address {
        padding: 35px 20px 40px 20px;
        border-radius: 25px;
        background: $beige;
        &-title {
            line-height: 130%;
        }
        &-info {
            margin-top: 20px;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                color: $black;
                font-size: 17px;
                font-weight: 400;
                line-height: 130%;
                a {
                    color: $black;
                    font-weight: 700;
                    text-decoration: none;
                }
                span {
                    font-weight: 700;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        padding: 40px 0 100px;
        &__wrapper {
            margin-top: 50px;
        }

        #contacts-map {
            height: 80vh;
        }

        &__address {
            padding: 45px 30px 50px;
            &-info {
                margin-top: 30px;
                gap: 20px;
                li {
                    font-size: 21px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .contacts {
        &__wrapper {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        #contacts-map {
            width: 100%;
            height: 575px;
            margin: 0;
            order: 2;
            flex: 1 1 0;
            border-radius: 25px;
        }

        &__address-wrapper {
            margin-top: 0;
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .contacts {
        padding: 50px 0 150px;
        &__wrapper {
            margin-top: 60px;
        }
    }
}
