@use "/src/sass/base/variables.scss" as *;

.follow-us {
    padding: 70px 0 90px;
    color: $black;
    &__wrapper {
        margin-top: 40px;
        &-title {
            font-weight: 400;
            line-height: 140%;
            a {
                color: $black;
                text-decoration: none;
            }
        }
        img {
            object-fit: cover;
            border-radius: 25px;
        }
    }
    &__card-1 {
        .follow-us__wrapper-title {
            margin-top: 10px;
        }
        &-text {
            margin-top: 5px;
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
        }
        img {
            margin: 0 auto;
            width: 320px;
            height: 320px;
        }
    }
    &__card-2,
    &__card-3 {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .follow-us {
        &__card-1 {
            img {
                width: 440px;
                height: 440px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .follow-us {
        padding: 90px 0 110px;
        &__wrapper {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        &__card-1 {
            width: 354px;
            .follow-us__wrapper-title {
                display: none;
            }
            &-text {
                margin-top: 15px;
                font-size: 21px;
            }
            img {
                margin: 0;
                width: 100%;
                height: 354px;
            }
        }
        &__card-2 {
            display: block;
            width: 354px;
            .follow-us__wrapper-title {
                margin-top: 5px;
            }
            img {
                width: 100%;
                height: 354px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .follow-us {
        padding: 90px 0 100px;
        &__card-1 {
            width: 307px;
            img {
                height: 307px;
            }
        }
        &__card-2 {
            width: 400px;
            .follow-us__wrapper-title {
                display: none;
            }
            img {
                height: 400px;
            }
        }
        &__card-3 {
            display: block;
            width: 213px;
            .follow-us__wrapper-title {
                margin-top: 5px;
            }
            img {
                height: 213px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .follow-us {
        padding: 130px 0 150px;
        &__wrapper {
            margin-top: 60px;
            gap: 30px;
        }
        &__card-1 {
            width: 386px;
            img {
                height: 386px;
            }
            &-text {
                margin-top: 20px;
            }
        }
        &__card-2 {
            width: 490px;
            .follow-us__wrapper-title {
                display: none;
            }
            img {
                height: 490px;
            }
        }
        &__card-3 {
            display: block;
            width: 282px;
            .follow-us__wrapper-title {
                margin-top: 10px;
            }
            img {
                height: 282px;
            }
        }
    }
}
