@use "/src/sass/base/variables.scss" as *;

.get {
    background-color: $beige;
    padding: 70px 0 90px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__head {
        &-text {
            margin-top: 20px;
            color: $black;
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
            text-align: left;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        &-email {
            width: 100%;
            background: transparent;
            padding: 0 0 16px;
            outline: none;
            border: none;
            border-bottom: 4px solid $black;

            &::placeholder {
                color: $black;
                font-size: 17px;
                font-weight: 400;
                line-height: 140%;
                text-align: left;
                opacity: 0.3;
            }
        }
        .just-validate-error-field {
            &::placeholder {
                color: rgb(184, 17, 17);
            }
            border-bottom: 4px solid rgb(184, 17, 17);
        }
    }
}

@media screen and (min-width: 480px) {
    .get {
        &__form {
            &-email {
                width: 320px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .get {
        padding: 90px 0 120px;

        &__wrapper {
            gap: 50px;
        }

        &__head {
            &-text {
                margin-top: 30px;
                font-size: 21px;
            }
        }

        &__form {
            gap: 45px;

            &-email {
                width: 450px;
                height: 40px;

                &::placeholder {
                    font-size: 21px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .get {
        &__wrapper {
            flex-direction: row;
        }

        &__form {
            padding: 65px 0 0;

            &-email {
                width: 440px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .get {
        padding: 130px 0 142px;

        &__wrapper {
            gap: 61px;
        }

        &__form {
            padding: 0;

            &-email {
                width: 490px;
            }
        }
    }
}
