@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
.last-viewed {
    padding-bottom: 80px;
    &__cards {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 320px;
        justify-content: center;
        gap: 20px;
    }
    &__card {
        @include flex-center;
        width: 100%;
        height: 320px;
        background-color: $beige;
        border-radius: 100%;
        img {
            width: 212px;
            height: 200px;
            object-fit: contain;
        }
    }
}

@media screen and (min-width: 480px) {
    .last-viewed {
        &__cards {
            grid-template-columns: repeat(2, 210px);
        }
        &__card {
            height: 210px;
            img {
                width: 130px;
                height: 122px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .last-viewed {
        padding-bottom: 100px;
        &__cards {
            margin-top: 50px;
            grid-template-columns: repeat(2, 354px);
        }
        &__card {
            height: 354px;
            img {
                width: 234px;
                height: 220px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .last-viewed {
        &__cards {
            margin-top: 50px;
            grid-template-columns: repeat(4, 225px);
        }
        &__card {
            height: 225px;
            img {
                width: 135px;
                height: 133px;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .last-viewed {
        padding-bottom: 150px;
        &__cards {
            margin-top: 60px;
            gap: 30px;
            grid-template-columns: repeat(4, 282px);
        }
        &__card {
            height: 282px;
            img {
                width: 176px;
                height: 162px;
            }
        }
    }
}
