@use "/src/sass/base/variables.scss" as *;

.privacy {
    padding: 40px 0 100px;
    color: $black;

    &__head {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 820px;
    }

    &__updated {
        color: $black;
        font-size: 15px;
        font-weight: 400;
        line-height: 130%;
        opacity: 0.6;
    }

    &__lead {
        font-size: 17px;
        font-weight: 400;
        line-height: 140%;
    }

    &__grid {
        margin-top: 30px;
        display: grid;
        gap: 14px;
    }

    &__card {
        padding: 20px;
        border-radius: 20px;
        background: $beige;
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
        }

        ul {
            padding-left: 18px;
            display: grid;
            gap: 10px;

            li {
                font-size: 17px;
                font-weight: 400;
                line-height: 140%;
            }
        }
    }

    &__contact {
        margin-top: 40px;
        padding: 24px;
        border-radius: 20px;
        background: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__contact-text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            font-size: 17px;
            font-weight: 400;
            line-height: 140%;
        }

        a {
            color: $white;
        }
    }

    &__contact-actions {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__contact-btn {
        width: fit-content;
        text-decoration: none;
    }

    &__contact-link {
        color: $white;
        font-size: 17px;
        font-weight: 700;
        line-height: 130%;
        text-decoration: underline;
        text-underline-offset: 3px;
        width: fit-content;
    }
}

@media screen and (min-width: 768px) {
    .privacy {
        padding: 60px 0 140px;

        &__lead,
        &__card p,
        &__card li,
        &__contact-text p {
            font-size: 21px;
        }

        &__updated {
            font-size: 17px;
        }

        &__grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;
        }

        &__card {
            padding: 26px;
        }

        &__contact {
            padding: 30px;
        }

        &__contact-actions {
            flex-direction: row;
            align-items: center;
            gap: 18px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .privacy {
        &__grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 18px;
        }

        &__contact {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__contact-text {
            max-width: 700px;
        }
    }
}
