@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.shop {
    &__filters-right-view {
        .icon-interactX2-2,
        .icon-interactX4-2 {
            transform: translateY(4px);
            width: 27px;
            height: 27px;
            cursor: pointer;
        }
        .icon-interactX2-2 {
            opacity: 1;
        }
        .icon-interactX4-2 {
            opacity: 0.3;
        }
    }

    &-2__swiper {
        margin-top: 35px;
    }
    .swiper-slide-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .card-2 {
        position: relative;
        display: flex;
        gap: 30px;
        border: 2px solid rgba(190, 189, 188, 1);
        border-radius: 25px;
        &__img {
            @include flex-center;
            width: 280px;
            background-color: $beige;
            border-radius: 25px 0px 0px 25px;
            img {
                object-fit: contain;
                width: 220px;
                height: 212px;
            }
        }
        &__text {
            padding: 25px 0 30px;
            width: clamp(
                300px,
                calc(300px + (100vw - 768px) * 187 / 232),
                487px
            );
            color: $black;
            & > p {
                margin-top: 15px;
                font-size: 21px;
                font-weight: 400;
                line-height: 130%;
            }
            &-info {
                margin-top: 33px;
                font-size: 21px;
                font-weight: 600;
                line-height: 130%;
                span {
                    display: none;
                }
            }
        }
        &__sell {
            position: absolute;
            top: 25px;
            right: 30px;
            color: $black;
            font-size: 21px;
            font-weight: 400;
            line-height: 140%;
        }
        &__btn {
            position: absolute;
            right: 30px;
            bottom: 30px;
            svg {
                width: 28px;
                height: 28px;
            }
        }
        &__btn-big {
            display: none;
        }
    }
}

@media screen and (min-width: 1000px) {
    .shop {
        .card-2 {
            &__text {
                width: clamp(
                    487px,
                    calc(487px + (100vw - 1000px) * 5 / 920),
                    492px
                );
                &-info {
                    margin-top: 60px;
                    display: flex;
                    gap: 40px;
                    p {
                        display: none;
                    }
                    span {
                        display: flex;
                        gap: 5px;
                        .span-atribute {
                            font-size: 21px;
                            font-weight: 400;
                            line-height: 130%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .shop {
        .card-2 {
            &__text {
                & > p {
                    margin-top: 10px;
                }
                &-info {
                    margin-top: 65px;
                    gap: 50px;
                }
            }
            &__btn {
                display: none;
            }
            &__btn-big {
                display: block;
                position: absolute;
                right: 30px;
                bottom: 35px;
            }
        }
    }
}
