@use "/src/sass/base/variables.scss" as *;

.title-h1 {
    color: $black;
    font-size: 40px;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
}

.title-h2 {
    color: $black;
    font-size: 36px;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
}

.title-h3 {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    text-align: left;
}

.title-h4 {
    color: $white;
    font-size: 28px;
    font-weight: 900;
    line-height: 130%;
    text-align: left;
}

@media screen and (min-width: 480px) {
    .title-h1 {
        font-size: 48px;
    }
    .title-h2 {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) {
    .title-h1 {
        font-size: 60px;
    }
    .title-h2 {
        font-size: 48px;
    }

    .title-h3 {
        font-size: 24px;
    }
    .title-h4 {
        font-size: 36px;
    }
}
